## 학습목표
 1. list, tuple에 대해 이해하고 사용할 수 있다.

### **리스트와 튜플**
 * 복수개의 값을 담을 수 있는 데이터 구조이다.
 * 실생활에서 사용하는 리스트와 동일한 의미로 이해하면 된다. ex)수강생리스트 등.
 * list - mutable    (생성된 후에 변경 가능)  
 * tuple - immutable (생성된 후에 변경 불가능)

#### **리스트 초기화**
 - [] 안에 값을 담아서 생성한다.
 - list() 함수로 생성한다.
 - str.split()함수로 생성한다.
 
 ##### 빈리스트 만들기 
 
 ```
리스트 = []
리스트 = list()
 ```

In [1]:
a = []
print(a)
print(type(a))

b = list()
print(b)
print(type(b))

[]
<class 'list'>
[]
<class 'list'>

In [6]:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [2]:
a = [1, 2, 'test', 1, 0, [1,2,3]]
a

[1, 2, 'test', 1, 0, [1, 2, 3]]

* **list() 함수**
 + 다른 데이터 타입을 리스트로 변환할 때도 사용한다.

In [71]:
str2 = 'hello python!!!'
list_str = list(str2)
print(list_str)  #문자를 하나씩 잘라서

tu = (1, 2, 3) #튜플을 리스트로 바꿀수도 있음
list_tu = list(tu)
print(list_tu)

['h', 'e', 'l', 'l', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n', '!', '!', '!']
[1, 2, 3]

+ **string split 함수**
 * 구분자로 구분되는 리스트를 반환한다.

In [8]:
a = 'hello hahah python hohoh'
b = a.split()
b

['hello', 'hahah', 'python', 'hohoh']

#### **리스트 indexing**
 * 문자열의 인덱싱과 동일하게 동작한다.
 * [] 연산자를 이용하여 항목 얻어오기
 * [i] - i번째 원소를 반환
 * i가 음수인 경우도 가능하며 마지막원소가 -1로 하여 앞으로 갈때마다 1씩 감소함

In [9]:
a = [1,2,3,4,5,6]
print(a[2])
print(a[5])
print(a[-2])

3
6
5

#### **리스트 개별 아이템에 접근**
 - 인덱스에 접근하여 값을 업데이트 가능

In [12]:
a = 'hello python!!'
b = list(a)
print(a)
print(b)
print(a[0])
print(b[0])
b[0] = 'a'
print(b)

hello python!!
['h', 'e', 'l', 'l', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n', '!', '!']
h
h
['a', 'e', 'l', 'l', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n', '!', '!']

In [13]:
a = [1,2,3,4]
a[0] = 100
a

[100, 2, 3, 4]

#### **리스트 slicing**
 - 문자열 슬라이싱과 동일하게 동작한다.
 - 슬라이싱의 결과 역시 list 이다.

In [15]:
a = [1,2,3,4,5,6,7,8]
print(a[4:7]) #4번부터 7번 인덱스 앞까지
print(a[:7])
print(a[3:])
print(a[:]) #전체

[5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

#### list 멤버 함수

* **append()**
 + 리스트의 끝에 항목을 추가한다.

+ **extend()**
 * 리스트를 연장한다.
 * += 로도 가능하다.

In [17]:
a = [1,2,3]
b = [4,5,6]
a.extend(b)
print(a)
a.extend([7,8])
print(a)

# +연산자로도 할 수 있음
a = [1,2,3]
b = [4,5,6]  
a+=b #( a = a + b)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6]

+ **insert()로 항목추가**
 * 리스트의 원하는 위치에 추가 가능하다.
 * 앞에 인덱스를, 뒤에 아이템을 명시한다.

In [21]:
a = [1,2,3]
a.insert(1,30) #위치, 값
a

[1, 30, 2, 3]

+ **remove()**
 * 값으로 항목 삭제한다.

In [22]:
a.remove(1) #값
print(a)
a.remove(0) #없는 값 쓰면 valueError
print(a)

[30, 2, 3]

ValueError: list.remove(x): x not in list

+ **pop()**
  - 지우고자 하는 아이템을 반환 후, 삭제한다.

In [24]:
a = [1,2,3,4]
a.pop(1) #index 값을 넣음. 지우면서 출력함

2

+ **index()**
 * 찾고자 하는 값의 인덱스 반환한다.

In [26]:
a = [1,200,3,4]
a.index(200) #200의 인덱스 값 리턴

1

* **in 키워드**
 + 리스트 내에 해당 값이 존재하는지 확인한다.
 + value in [list]
 + True, False 중 한가지로 반환한다.

In [27]:
a = [1, 200, 3, 4]
print(3 in a)
print(300 in a)

True
False

* **list 정렬**
 + sort() -> 리스트 자체를 내부적으로 정렬한다.
 + sorted() -> 리스트의 정렬된 복사본을 반환한다.

In [28]:
a = [55,22,6,7,23,85,99]
a.sort() #객체 자체의 순서가 바뀜
print(a)

a.sort(reverse = True)
print(a)

[6, 7, 22, 23, 55, 85, 99]
[99, 85, 55, 23, 22, 7, 6]

In [30]:
a = [55,22,6,7,23,85,99]
sorted(a) #sorted와 sort의 차이점! sorted는 바뀌지 않음
print(a)
print(sorted(a))

[55, 22, 6, 7, 23, 85, 99]
[6, 7, 22, 23, 55, 85, 99]

* **range를 사용하여 리스트 만들기**
  + range(횟수)
  + 리스트 = list(range(횟수))
  + 리스트 = list(range(시작, 끝))
  + 리스트 = list(range(시작, 끝, 증가폭))

In [31]:
range(10)

range(0, 10)

In [33]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
a = list(range(3,6)) #끝값이 포함 안됨
a

[3, 4, 5]

In [35]:
a = list(range(-2, 10, 2))
a

[-2, 0, 2, 4, 6, 8]

In [36]:
a = list(range(20))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [38]:
a = list(range(-10, 10, 2))
a

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

### **tuple**
 - 리스트와 같이 복수개의 값을 갖는 컬렉션 타입이다. 
 - 생성된 후 변경이 불가능하다. 
 - 읽기전용 리스트이다. 
 
 
   + 튜플 = (값,값,값)
   + 튜플 = 값, 값, 값
   + 튜플 = (값,) - 요소가 하나일 때 튜플로 지정하려면 , 를 붙혀준다. 
   + 튜플 = 값,

In [39]:
a = (22, 34, 5, 5, 6, 66)
a

(22, 34, 5, 5, 6, 66)

In [40]:
a = 112, 44, 33, 55, 67
a

(112, 44, 33, 55, 67)

In [41]:
a = [1,2,3]
b = (1,2,3)

print(type(a))
print(type(b))

a[0] = 100
print(a)

b[0] = 100 #변경 불가함. 튜플은 읽기전용 리스트다. 불변
print(b)

##return은 튜플형태로 return되기 때문에 복수의 값이 return 가능한것

<class 'list'>
<class 'tuple'>
[100, 2, 3]

TypeError: 'tuple' object does not support item assignment

In [43]:
# range를 이용하여 tuple만들기 - 리스트와 동일하다. 
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [45]:
# 요소가 한개인 튜플은 어떻게 만들까??    값뒤에 , 붙혀줌. 
a = (1)
print(a)
print(type(a))  #튜플이 아니라 int로 됨ㅠ....

b = (1,)  #즉, 하나짜리 튜플 만들땐 컴마를 찍어야만 한다~~
print(b)
print(type(b))

c = 1,
print(c)
print(type(c))

1
<class 'int'>
(1,)
<class 'tuple'>
(1,)
<class 'tuple'>

#### **튜플을 리스트로 리스트를 튜플로 만들기**

In [46]:
a = [1,2,3]
b = tuple(a)
b

(1, 2, 3)

In [47]:
b = (4,5,6)
list(b)

[4, 5, 6]

In [49]:
#리스트와 튜플에 문자열을 넣으면?
print(list('hello'))
print(tuple('hello'))

['h', 'e', 'l', 'l', 'o']
('h', 'e', 'l', 'l', 'o')

#### **list unpacking, tuple unpacking**
 - 리스트나 튜플의 값을 차례대로 변수에 대입한다.
 
 ```
 x = [1, 2, 3]
 a, b, c = x
 y = (4, 5, 6)
 d, e, f = y
 ```
 
 
#### **list packing, tuple packing**
  - 변수에 리스트나 튜플을 할당하는 과정을 뜻한다.  
  - a = [1,2,3] 
  - a = (1,2,3)
  - a = 1,2,3

In [55]:
x = [1, 2, 3]
a, b, c = x
print(a)
print(b)
print(c)
y = (4, 5, 6)
d, e, f = y
print(d)
print(e)
print(f)

1
2
3
4
5
6

In [52]:
a, b, c, d = 100, 200, 300, 400
print(a, b, c, d)
print(a)

a = 10, 20, 30, 40
x, y, z, i = a
print(x, y, z, i)

100 200 300 400
100
10 20 30 40

* **연습문제** a와 b의 값을 교환하시오

In [56]:
a = 5
b = 4

print(a, b)

#여기에 구현

temp = a
a = b
b = temp

#혹은 파이썬에서는

a, b = b, a
print(a, b)

5 4
5 4

### 시퀀스 자료형 

- 값이 연속적으로 이어져 있는 자료형을 말한다. 
- 리스트, 튜플, range, 문자열 등이 시퀀스 자료형에 해당한다. 

#### 시퀀스객체안에 원하는 값 확인하기 
- 값이 있는지 확인 할때는 아래와 같이 in 을 이용한다. 
    - 값 in 시퀀스 객체 
- in 앞에 not을 붙히면 반대로 값이 없는지 확인한다. 
    - 값 not in 시퀀스객체

In [59]:
a = [3,4,2,5,67,44] #리스트이든 튜플이든 상관없다~~~
b = (3,4,2,5,67,44)
print(3 in a)
print(3 in b)
print(30 not in a)
print(30 not in b)

True
True
True
True

In [61]:
print(5 in range(5))
print('a' not in 'hello python!!')

False
True

#### 시퀀스 객체 연결 

- + 연산자를 이용하여 객체를 서로 연결해서 새 객체를 만든다. 
    - 시퀀스객체1 + 시퀀스객체2
- 단, range는 리스트나 튜플을 만든 후 연결해야 한다. 
- 문자열은 + 연산자를 이용하여 문자열을 연결할 수 있다.

In [62]:
a = [1,2,3]
b = [4,5,6]

print(a+b)
print(a) #바뀌지 않는다
print(b) #바뀌지 않는다

[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[4, 5, 6]

In [63]:
# range(10) + range(11,5)   range 자체로 + 연산은 불가하다.
# range를 이용해서 리스트나 튜플 생성후 연결
list(range(10)) + list(range(11,5))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
'hello' + 'python!!'

'hellopython!!'

In [65]:
print('hello' + 10)  #같은 타입들끼리만 + 연산이 된다

TypeError: can only concatenate str (not "int") to str

In [75]:

a = str(10)
'hello' + a

print('a' + str(22))

a22

#### 시퀀스객체 반복하기

- * 연산자를 이용하면 시퀀스 객체를 원하는 횟수만큼 반복할 수 있다. 
- 0 또는 음수를 곱하면 빈 객체가 나온다.  실수는 곱할 수 없다. 

    - 시퀀스객체 * 정수 
    - 정수 * 시퀀스객체
- range는 * 연산자를 사용할 수 없다.
- 문자열은 * 연산자 사용이 가능하다.

In [76]:
'hi' * 3

'hihihi'

In [77]:
[10,20]*3

[10, 20, 10, 20, 10, 20]

#### len() 함수 이용해서 개수 구하기

- len(리스트)
- len(튜플)
- len(문자열)
- len(range())

In [78]:
len([1,2,3,4,])

4

In [79]:
len(range(4,7))

3

In [80]:
len('dhkfdkfjdkf')

11