https://wikidocs.net/78562

# 연습문제

In [1]:
#for와 range를 이용하여 구구단을 출력해보시오.  
for i in range(1, 10):
    for j in range(2,10):
        print('%d X %d = %d'%(j, i, i*j), end = '\t')
    print()

2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6	7 X 1 = 7	8 X 1 = 8	9 X 1 = 9
2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12	7 X 2 = 14	8 X 2 = 16	9 X 2 = 18
2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18	7 X 3 = 21	8 X 3 = 24	9 X 3 = 27
2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24	7 X 4 = 28	8 X 4 = 32	9 X 4 = 36
2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30	7 X 5 = 35	8 X 5 = 40	9 X 5 = 45
2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36	7 X 6 = 42	8 X 6 = 48	9 X 6 = 54
2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42	7 X 7 = 49	8 X 7 = 56	9 X 7 = 63
2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48	7 X 8 = 56	8 X 8 = 64	9 X 8 = 72
2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54	7 X 9 = 63	8 X 9 = 72	9 X 9 = 81

In [2]:
#1부터 100사이의 5의 배수만을 갖는 리스트를 생성하시오
result = [num for num in range(1, 101) if num %5 ==0]
print(result)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

 반복문 연습문제 
  1. 1 - 100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오. 
  1. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 최대값과 최소값을 찾으시오. (sorted, sort 사용 금지)
  1. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 평균을 구하세요.
  1. 위의 리스트중에서 짝수에는 2를 홀수에는 3을곱해서 각각 짝수, 홀수 리스트를 새로 작성하시오.

In [3]:
result = [num for num in range(1, 101) if num %2 ==0 or num%11 ==0]
print(result)

[2, 4, 6, 8, 10, 11, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 33, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 77, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 99, 100]

In [6]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 

for i in a:
    if i == max(a):
        print('최댓값: ', i)
    elif i == min(a):
        print('최솟값: ', i)
    else:
        pass

최솟값:  1
최댓값:  99

In [10]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 
total = 0
for i, value in enumerate(a):
    total += value
avg = total / len(a)
print(avg)

37.0

In [11]:
new_list = []
for i, value in enumerate(a):
    if value %2 == 0:
        new_list.append(value*2)
    else:
        new_list.append(value*3)
print(new_list)

[44, 3, 9, 8, 21, 196, 63, 165, 261, 297, 57, 40, 135]

함수 연습문제
* 주어진 숫자 리스트의 평균을 구하는 함수를 출력하시오
* 해당 숫자가 소수인지 아닌지 판별하시오.
* 2부터 해당 숫자사이에 소수가 몇개인지 출력하는 함수를 구하시오

In [12]:
def avg(x):
    total = 0
    for i, value in enumerate(a):
        total += value
    avg = total / len(a)
    return avg
avg(a)

37.0

In [22]:
result = 0
for i in range(2, int(avg(a))):
    if int(avg(a)) % i ==0:
        result = result +  1
    result = 0
print('avg(a)는 서로소인가?', result ==0)

avg(a)는 서로소인가? True

In [25]:
def count_trivial(x):
    x = int(x)
    result = 0
    for i in range(2, x):
        if x % i ==0:
            result = result + 1
        result += 0
    return result

count_trivial(37)

0

In [26]:
count_trivial(4)

1

# 실습 131~ 240

In [27]:
#131
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [28]:
#132
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print("#####")

#####
#####
#####

In [30]:
#133
for 변수 in ["A", "B", "C"]:
    print(변수)

print('A')
print('B')
print('C')

A
B
C
A
B
C

In [31]:
#134
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C

In [33]:
#135
print('변환:', 'A'.lower())
print('변환:', 'B'.lower())
print('변환:', 'C'.lower())

변환: a
변환: b
변환: c

In [34]:
#136
for i in [10, 20, 30]:
    print(i)

10
20
30

In [35]:
#137
for i in [10, 20, 30]:
    print(i)

10
20
30

In [36]:
#138
for i in [10,20,30]:
    print(i)
    print('-------')

10
-------
20
-------
30
-------

In [37]:
#139
print('+++')
for i in [10,20,30]:
    print(i)

+++
10
20
30

In [38]:
#140
for i in range(4):
    print('-----')

-----
-----
-----
-----

In [40]:
#141
리스트 = [100, 200, 300]
for i in 리스트:
    print(i + 10)

110
210
310

In [41]:
#142
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print('오늘의 메뉴: %s'%i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [42]:
#143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4

In [43]:
#144
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [44]:
#145
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0])

d
c
p

In [45]:
#146
리스트 = [1,2,3]
for i in 리스트:
    print('3 X %d'%i)

3 X 1
3 X 2
3 X 3

In [46]:
#147
리스트 = [1,2,3]
for i in 리스트:
    print('3 X %d = %d'%(i, i*3))

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9

In [47]:
#148
리스트 = ["가", "나", "다", "라"]
for i in 리스트[1:]:
    print(i)

나
다
라

In [48]:
#149
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::2]:
    print(i)

가
다

In [49]:
#150
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
    print(i)

라
다
나
가

In [52]:
#151
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i < 0:
        print(i)

-20
-3

In [53]:
#152
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i%3 == 0:
        print(i)

3

In [54]:
#153
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if i<20 and i%3 ==0:
        print(i)

12
18

In [56]:
#154
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [57]:
#155
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper(): # == True:
        print(i)

A
D

In [58]:
#156
리스트 =  ["A", "b", "c", "D"]
for i in 리스트:
    if i.islower():
        print(i)

b
c

In [60]:
#157
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i.capitalize())

Dog
Cat
Parrot

In [61]:
#158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    print(i.split('.')[0])

hello
ex01
intro

In [62]:
#159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    if i.split('.')[1] == 'h':
        print(i)

intra.h
define.h

In [65]:
#160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    if i.split('.')[1] == 'h' or i.split('.')[1] == 'c':
        print(i)

intra.h
intra.c
define.h

In [66]:
#161
for i in range(0, 100):
    print(i, end ='\n')

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [67]:
#162
for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [68]:
#163
for i in range(1, 31):
    if i%3 ==0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [71]:
#164
for i in range(99, -1, -1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [72]:
#165
for i in range(0, 10):
    print('0.%d'%i) #num/10

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [73]:
#166
for i in range(1, 10):
    print('3 X %d = %d'%(i, 3*i))

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [75]:
#167
for i in range(1, 10, 2):
    print('3 X %d = %d'%(i, 3*i))

3 X 1 = 3
3 X 3 = 9
3 X 5 = 15
3 X 7 = 21
3 X 9 = 27

In [79]:
#168
total = 0
for i in range(1,11):
    total += i
print('합: ', total)

합:  55

In [80]:
#169
total = 0
for i in range(1,11,2):
    total += i
print('합: ', total)

합:  25

In [82]:
#170
result = 1
for i in range(1,11):
    result *= i
print(result)

3628800

In [83]:
#171
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [84]:
#172
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [85]:
#173
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(len(price_list) -1 - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [87]:
#174
price_list = [32100, 32150, 32000, 32500]
for i in range(1, len(price_list)):
    print(100 + 10*(i-1), price_list[i])

100 32150
110 32000
120 32500

In [88]:
#175
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [89]:
#176
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-2):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라

In [92]:
#177
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[len(my_list) - 1 -i], my_list[len(my_list) -2 - i])

라 다
다 나
나 가

In [95]:
#178
my_list = [100,200,400,800]
for i in range(len(my_list)-1):
    print(abs(my_list[i] - my_list[i+1]))

100
200
400

In [96]:
#179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(1, len(my_list) -1):
    print((my_list[i-1] + my_list[i] + my_list[i+1] )/ 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [99]:
#180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(5):
    volatility.append(abs(high_prices[i] - low_prices[i]))
volatility

[50, 100, 30, 80, 0]