# 실습문제
- https://wikidocs.net/78548
- 001~050까지 문제 풀기

In [2]:
#1번
print('Hello World')

Hello World

In [3]:
#2번
print("Mary's cosmetics")

Mary's cosmetics

In [4]:
#3번
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [5]:
#4번
print('"C:\Windows"')

"C:\Windows"

In [6]:
#5번
print("안녕하세요. \n만나서 \t\t반갑습니다.")
#\t: 공백, \n: 줄바꿈

안녕하세요.
만나서 		반갑습니다.

In [7]:
#6
print("오늘은", "일요일")

오늘은 일요일

In [8]:
#7
print('naver', 'kakao', 'sk', 'samsung', sep = ';')

naver;kakao;sk;samsung

In [9]:
#8
print('naver', 'kakao', 'sk', 'samsung', sep = '/')

naver/kakao/sk/samsung

In [11]:
#9
print("first", end  = '');print("second")

firstsecond

In [13]:
#10
print(5/3)

1.6666666666666667

In [14]:
#11
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [15]:
#12
시가총액 = 298 * 10**12
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가 , type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [18]:
#13
s = "hello"
t = "python"
print(s+"! ",t)

hello!  python

In [20]:
#14
2 + 2*3

8

In [21]:
#15
a = "132"
print(type(a))

<class 'str'>

In [23]:
#16
num_str = "720"
num_str = int(num_str)
print(type(num_str))

<class 'int'>

In [25]:
#17
num = 100
num = str(num)
print(type(num))

<class 'str'>

In [26]:
#19
year = "2020"
year = int(year)
print(year-2, year-1, year)

2018 2019 2020

In [27]:
#20
월 = 48584
총금액 = 월 * 36
print(총금액)

1749024

In [29]:
#21
letters = 'python'
print(letters[0], letters[2])

p t

In [32]:
#22
license_plate = '24가 2210'
print(license_plate[-4:])

2210

In [34]:
#23
string = "홀짝홀짝홀짝"
print(string[0]*3)
print(string[::2])

홀홀홀
홀홀홀

In [35]:
#24
string = "PYTHON"
print(string[::-1])

NOHTYP

In [37]:
#25
phone_number = "010-1111-2222"
print(phone_number.replace('-',' '))

010 1111 2222

In [38]:
#26
phone_number = "010-1111-2222"
print(phone_number.replace('-',' '))

010 1111 2222

In [40]:
#27
url = "http://sharebook.kr"
print(url.split('.')[-1])

kr

In [42]:
#28
#수정 불가능함!
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [41]:
#29
string = 'abcdfe2a354a32a'
print(string.replace('a', "A"))

Abcdfe2A354A32A

In [44]:
#30
string = 'abcd'
string.replace('b', 'B')
print(string)
#abcd로 나올것

abcd

In [45]:
#31
a = '3'
b = '4'
print(a+b)
#결과: 34

34

In [46]:
#32
print("Hi"*3)
#결과 HiHiHi

HiHiHi

In [47]:
#33
print("-"*80)

--------------------------------------------------------------------------------

In [50]:
#34
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
print(t3*4)

python java python java python java python java

In [57]:
#35
name1 = '김민수'
age1 = 10
name2 = '이철희'
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [58]:
#36
name1 = '김민수'
age1 = 10
name2 = '이철희'
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [59]:
#37
상장주식수 = "5,969,782,550"
상장주식수 = int(상장주식수.replace(',',''))
print(상장주식수, type(상장주식수))

5969782550 <class 'int'>

In [60]:
#38
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [61]:
#40
data = "   삼성전자   "
print(data.strip())

삼성전자

In [62]:
#41
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

In [63]:
#42
print(ticker.upper().lower())

btc_krw

In [64]:
#43
string = 'hello'
string = string.capitalize()
print(string)

Hello

In [66]:
#44
file_name = "보고서.xlsx"
print(file_name.endswith("xlsx"))

True

In [68]:
#45
file_name = "보고서.xlsx"
print(file_name.endswith(('xls', 'xlsx')))

True

In [70]:
#46
file_name = "2020_보고서.xlsx"
print(file_name.startswith('2020'))

True

In [71]:
#47
a = "hello world"
print(a.split())

['hello', 'world']

In [73]:
#48
ticker = "btc_krw"
print(ticker.split("_"))

['btc', 'krw']

In [74]:
#49
date = '2020-05-01'
print(date.split('-'))

['2020', '05', '01']

In [75]:
#50
data = '039490          '
print(data.rstrip())

039490