https://wikidocs.net/7023

In [19]:
#51
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']

In [20]:
#52
movie_rank.append('배트맨')

In [21]:
#53
movie_rank.insert(1, '슈퍼맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [22]:
#54
movie_rank.remove('럭키') #or del movie_rank[3]
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [23]:
#55
del movie_rank[3]
del movie_rank[2]
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [24]:
#56
lang1 = ['C', "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [25]:
#57
nums = [1, 2, 3, 4, 5, 6, 7]
print('max: ' ,max(nums))
print('min: ', min(nums))

max:  7
min:  1

In [26]:
#58
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [27]:
#59
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [29]:
#60
nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

3.0

In [30]:
#61
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [34]:
#62
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [35]:
#63
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [38]:
#64
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [40]:
#65
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[::2])

['삼성전자', 'Naver']

In [42]:
#66
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [44]:
#67
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [45]:
#68
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [46]:
#69
string = "삼성전자/LG전자/Naver"
interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [48]:
#70
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [49]:
#71
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [51]:
#72
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
movie_rank

('닥터 스트레인지', '스플릿', '럭키')

In [52]:
#73
my_tuple = (1,)
print(my_tuple)

(1,)

In [54]:
#74
t = (1, 2, 3)
t[0] = 'a'
#튜플은 수정 불가능

TypeError: 'tuple' object does not support item assignment

In [55]:
#75
t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [56]:
#76
t = ('a', 'b', 'c')
#튜플 수정 불가
t = ("A", 'b', 'c')
t

('A', 'b', 'c')

In [57]:
#77
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest = list(interest)
print(type(interest))

<class 'list'>

In [58]:
#78
interest = ['삼성전자', 'LG전자', 'SK Hynix']
print(type(tuple(interest)))

<class 'tuple'>

In [59]:
#79
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)
#apple banana cake

apple banana cake

In [60]:
#80
tup = tuple(range(2, 100, 2))
print(tup)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [61]:
#81 #아직 안배움 skip
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [62]:
#82
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [63]:
#83
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [64]:
#84
temp = {}

In [65]:
#85
ice = {'메로나': 1000, '폴라포':1200, '빵빠레':1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [66]:
#86
ice['죠스바'] = 1200
ice['월드콘'] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [68]:
#87
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print('메로나 가격: ', ice['메로나'])

메로나 가격:  1000

In [69]:
#88
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나'] = 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [70]:
#89
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice['메로나']
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [71]:
#90
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']
#'누가바' 키가 없음

KeyError: '누가바'

In [73]:
#91
inventory = {'메로나': [300, 20], '비비빅': [400,3], '죠스바':[250,100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [74]:
#92
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory['메로나'][0],'원')

300 원

In [75]:
#93
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory['메로나'][1],'개')

20 개

In [77]:
#94
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory.update(월드콘 = [500,7]) #inventory['월드콘'] = [500,70]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [81]:
#95
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice_list = list(icecream.keys())
print(ice_list)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [82]:
#96
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice_list2 = list(icecream.values())
print(ice_list2)

[1200, 1200, 1800, 1500, 1000]

In [83]:
#97
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values()))

6700

In [84]:
#98
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [86]:
#99
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [87]:
#100
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [88]:
#101
#bool type
print(type(True))

<class 'bool'>

In [89]:
#102
print(3==5)
#false

False

In [90]:
#103
print(3<5) #true

True

In [91]:
#104
x = 4
print(1<x<5) #true

True

In [92]:
#105
print ((3 == 3) and (4 != 3))
#True and True : True

True

In [93]:
#106
print(3 => 4)
#순서가 >=이어야함

SyntaxError: invalid syntax (<ipython-input-93-5bc183358e50>, line 2)

In [95]:
#107
if 4 < 3:
    print("Hello World")
#아무것도 안나옴

In [94]:
#108
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [96]:
#109
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [97]:
#110
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [98]:
#111
print(input()*2)

안녕하세요
안녕하세요안녕하세요

In [99]:
#112
print(int(input("숫자를 입력하세요: ")) + 10)

숫자를 입력하세요: 30
40

In [100]:
#113
user = int(input("숫자 입력: "))
if user % 2 ==0: #짝수
    print('짝수')
else:
    print('홀수')

숫자 입력: 10
짝수

In [102]:
#114
user = int(input("입력값: "))
if user+20 > 255:
    print(255)
else:
    print(user + 20)

입력값: 240
255

In [103]:
#115
user = int(input("입력값: "))
if user-20 <0:
    print(0)
elif user - 20 > 255:
    print(255)
else:
    print(user - 20)

입력값: 15
0

In [104]:
#116
time = input("현재 시간 입력: ")
if time[-2:] == "00":
    print('정각입니다')
else:
    print('정각이 아닙니다')

현재 시간 입력: 10:00
정각입니다

In [105]:
#117
fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은? ")
if user in fruit:
    print('정답입니다')
else:
    prin('오답입니다')

좋아하는 과일은? 사과
정답입니다

In [106]:
#118
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user = input('투자 종목이름: ')
if user in warn_investment_list:
    print('투자 경고 종목입니다')
else:
    print('투자 경고 종목이 아닙니다.')

투자 종목이름: Apple
투자 경고 종목이 아닙니다.

In [108]:
#119
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input('제가 좋아하는 계절은: ')
print('정답입니다') if user in fruit.keys() else print('오답입니다')

제가 좋아하는 계절은: 봄
정답입니다

In [1]:
#120
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input('제가 좋아하는 과일은: ')
print('정답입니다') if user in fruit.values() else print('오답입니다')

제가 좋아하는 과일은: 한라봉
오답입니다

In [2]:
#121
user = input('문자 하나만 입력: ')
if user.islower():
    print(user.upper())
else:
    print(user.lower())

문자 하나만 입력: a
A

In [3]:
#122
user = int(input('score: '))
if 81<= user <100:
    print('grade is A')
elif 61 <= user <= 80:
    print("grade is B")
elif 41 <= user <= 60:
    print("grade is C")
elif 21 <= user <= 40:
    print("grade is D")
else:
    print("grade is E")

score: 19
grade is E

In [5]:
#123
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

입력: 1200 달러
1400400.0 원

In [6]:
#124
num1 = int(input('숫자1 '))
num2 = int(input('숫자2 '))
num3 = int(input('숫자3 '))

num_list = [num1, num2, num3]
print(max(num_list))

숫자1 10
숫자2 11
숫자3 12
12

In [7]:
#125
phone = input('휴대폰 번호 입력: ')
통신사 = {'010':'알수없음', '011':'SKT', '016':'KT','019':'LGU'}
print(통신사[phone[:3]])

휴대폰 번호 입력: 010-2000-2800
알수없음

In [8]:
#126
post = input('우편번호: ')[:3]
if post in ["010", "011", "012"]:
    print("강북구")
elif post in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호: 015
도봉구

In [10]:
#127
주민번호 = input('주민등록번호: ')[6]
if 주민번호 in ['1', '3']:
    print('남자')
else:
    print('여자')

주민등록번호: 9502022222222
여자

In [15]:
#128
주민번호 = int(input('주민등록번호: ')[7:9])
if 주민번호 in range(9):
    print('서울')
else:
    print('서울 아님')

주민등록번호: 8210111082222
서울

In [16]:
#129
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호: 8210111635210
유효하지 않은 주민등록번호입니다.

In [18]:
#130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장