### 아래 데이터를 이용해서 문제를 해결하세요.

In [1]:
import numpy as np
import pandas as pd

In [2]:
train_data = pd.read_csv('./train.csv')
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
train_data.dropna(subset = ['Age', 'Cabin']).shape  #두 컬럼중에서 nan 가진 것을 모두 삭제~~

(204, 12)

In [6]:
class_group = train_data.groupby('Pclass')

In [7]:
class_group.mean()['Age']

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64

In [8]:
class_group.mean()['Survived']

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [9]:
#성별에 따른 생존율
sex_group = train_data.groupby('Sex')
sex_group.mean()['Survived']

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [12]:
# 인덱스를 부여한 후, 인덱스를 기준으로 그루핑하고 싶을 때.
# 나이를 기준으로 그루핑하고 싶을 때.
age_group = train_data.groupby('Age')
age_group.groups

{0.42: Int64Index([803], dtype='int64'),
 0.67: Int64Index([755], dtype='int64'),
 0.75: Int64Index([469, 644], dtype='int64'),
 0.83: Int64Index([78, 831], dtype='int64'),
 0.92: Int64Index([305], dtype='int64'),
 1.0: Int64Index([164, 172, 183, 381, 386, 788, 827], dtype='int64'),
 2.0: Int64Index([7, 16, 119, 205, 297, 340, 479, 530, 642, 824], dtype='int64'),
 3.0: Int64Index([43, 193, 261, 348, 374, 407], dtype='int64'),
 4.0: Int64Index([10, 63, 171, 184, 445, 618, 691, 750, 850, 869], dtype='int64'),
 5.0: Int64Index([58, 233, 448, 777], dtype='int64'),
 6.0: Int64Index([720, 751, 813], dtype='int64'),
 7.0: Int64Index([50, 278, 535], dtype='int64'),
 8.0: Int64Index([24, 237, 549, 787], dtype='int64'),
 9.0: Int64Index([147, 165, 182, 480, 489, 541, 634, 852], dtype='int64'),
 10.0: Int64Index([419, 819], dtype='int64'),
 11.0: Int64Index([59, 542, 731, 802], dtype='int64'),
 12.0: Int64Index([125], dtype='int64'),
 13.0: Int64Index([446, 780], dtype='int64'),
 14.0: Int64Index([9, 14, 39, 435, 683, 686], dtype='int64'),
 14.5: Int64Index([111], dtype='int64'),
 15.0: Int64Index([22, 352, 689, 830, 875], dtype='int64'),
 16.0: Int64Index([ 71,  86, 138, 156, 208, 220, 266, 282, 329, 333, 504, 574, 746,
             764, 791, 841, 853],
            dtype='int64'),
 17.0: Int64Index([68, 84, 114, 163, 307, 389, 433, 500, 532, 550, 721, 781, 844], dtype='int64'),
 18.0: Int64Index([ 38,  49, 144, 175, 204, 228, 311, 371, 385, 417, 424, 505, 585,
             651, 654, 675, 677, 688, 700, 702, 757, 775, 786, 807, 834, 855],
            dtype='int64'),
 19.0: Int64Index([ 27,  44,  67, 136, 143, 145, 191, 192, 226, 238, 283, 291, 302,
             372, 379, 427, 546, 566, 575, 646, 687, 715, 748, 877, 887],
            dtype='int64'),
 20.0: Int64Index([12, 91, 113, 131, 378, 404, 441, 622, 640, 664, 682, 725, 762, 840,
             876],
            dtype='int64'),
 20.5: Int64Index([227], dtype='int64'),
 21.0: Int64Index([ 37,  51,  56,  72, 102, 106, 115, 120, 173, 391, 402, 408, 421,
             436, 491, 494, 501, 623, 624, 627, 652, 742, 836, 861],
            dtype='int64'),
 22.0: Int64Index([  0,  60,  80, 112, 141, 151, 212, 225, 243, 287, 289, 320, 323,
             356, 373, 376, 395, 474, 478, 521, 539, 553, 554, 588, 608, 708,
             882],
            dtype='int64'),
 23.0: Int64Index([88, 97, 135, 350, 393, 398, 473, 529, 649, 658, 733, 734, 753, 816,
             833],
            dtype='int64'),
 23.5: Int64Index([296], dtype='int64'),
 24.0: Int64Index([ 89, 118, 127, 139, 142, 199, 210, 234, 247, 293, 294, 310, 316,
             341, 345, 369, 394, 437, 499, 514, 565, 600, 615, 641, 655, 710,
             743, 770, 858, 864],
            dtype='int64'),
 24.5: Int64Index([676], dtype='int64'),
 25.0: Int64Index([ 75, 134, 246, 267, 271, 343, 353, 370, 442, 484, 498, 580, 666,
             685, 693, 703, 728, 729, 784, 785, 794, 880, 884],
            dtype='int64'),
 26.0: Int64Index([  2,  69,  73,  93, 162, 207, 290, 312, 315, 401, 509, 617, 619,
             628, 704, 810, 870, 889],
            dtype='int64'),
 27.0: Int64Index([  8,  41, 146, 216, 221, 321, 377, 551, 607, 620, 681, 717, 724,
             804, 821, 823, 866, 886],
            dtype='int64'),
 28.0: Int64Index([ 23,  34,  83, 100, 105, 169, 200, 281, 313, 342, 355, 392, 399,
             403, 423, 426, 430, 443, 508, 562, 635, 756, 848, 874, 883],
            dtype='int64'),
 28.5: Int64Index([57, 735], dtype='int64'),
 29.0: Int64Index([ 53,  66,  81,  90, 117, 133, 231, 242, 251, 255, 336, 361, 422,
             455, 477, 510, 567, 713, 730, 782],
            dtype='int64'),
 30.0: Int64Index([ 79, 157, 178, 213, 219, 244, 253, 257, 286, 308, 309, 322, 365,
             418, 452, 488, 520, 534, 537, 606, 726, 747, 798, 799, 842],
            dtype='int64'),
 30.5: Int64Index([767, 814], dtype='int64'),
 31.0: Int64Index([ 18, 215, 318, 328, 396, 439, 637, 671, 673, 690, 744, 749, 797,
             801, 805, 817, 867],
            dtype='int64'),
 32.0: Int64Index([ 70,  74, 190, 206, 218, 382, 429, 519, 543, 569, 579, 632, 636,
             657, 665, 769, 838, 890],
            dtype='int64'),
 32.5: Int64Index([122, 123], dtype='int64'),
 33.0: Int64Index([85, 103, 130, 239, 285, 412, 472, 506, 548, 719, 752, 759, 809,
             872, 881],
            dtype='int64'),
 34.0: Int64Index([21, 98, 99, 202, 405, 416, 447, 461, 476, 516, 576, 616, 722, 758,
             800],
            dtype='int64'),
 34.5: Int64Index([843], dtype='int64'),
 35.0: Int64Index([  3,   4,  20, 211, 230, 258, 269, 279, 363, 383, 486, 590, 604,
             614, 701, 737, 812, 847],
            dtype='int64'),
 36.0: Int64Index([179, 189, 265, 292, 325, 327, 344, 387, 390, 450, 512, 518, 540,
             559, 572, 583, 595, 605, 663, 679, 741, 763],
            dtype='int64'),
 36.5: Int64Index([148], dtype='int64'),
 37.0: Int64Index([104, 137, 248, 273, 503, 594], dtype='int64'),
 38.0: Int64Index([1, 25, 61, 108, 224, 332, 357, 465, 471, 716, 822], dtype='int64'),
 39.0: Int64Index([13, 400, 528, 558, 577, 581, 610, 705, 795, 806, 808, 811, 835,
             885],
            dtype='int64'),
 40.0: Int64Index([30, 40, 161, 188, 209, 263, 319, 346, 360, 561, 609, 661, 670], dtype='int64'),
 40.5: Int64Index([153, 525], dtype='int64'),
 41.0: Int64Index([254, 272, 337, 638, 761, 860], dtype='int64'),
 42.0: Int64Index([35, 149, 197, 217, 288, 349, 380, 432, 621, 699, 707, 845, 865], dtype='int64'),
 43.0: Int64Index([314, 668, 678, 779, 818], dtype='int64'),
 44.0: Int64Index([160, 194, 236, 245, 414, 523, 603, 696, 854], dtype='int64'),
 45.0: Int64Index([62, 129, 167, 187, 276, 338, 339, 362, 440, 536, 706, 856], dtype='int64'),
 45.5: Int64Index([203, 331], dtype='int64'),
 46.0: Int64Index([92, 397, 789], dtype='int64'),
 47.0: Int64Index([110, 132, 462, 515, 586, 592, 662, 871, 873], dtype='int64'),
 48.0: Int64Index([460, 463, 556, 645, 712, 736, 754, 771, 862], dtype='int64'),
 49.0: Int64Index([52, 453, 597, 599, 698, 796], dtype='int64'),
 50.0: Int64Index([177, 259, 299, 434, 458, 482, 526, 544, 660, 723], dtype='int64'),
 51.0: Int64Index([150, 155, 222, 406, 631, 765, 857], dtype='int64'),
 52.0: Int64Index([262, 449, 591, 695, 714, 820], dtype='int64'),
 53.0: Int64Index([571], dtype='int64'),
 54.0: Int64Index([6, 124, 249, 317, 496, 513, 582, 774], dtype='int64'),
 55.0: Int64Index([15, 492], dtype='int64'),
 55.5: Int64Index([152], dtype='int64'),
 56.0: Int64Index([174, 467, 647, 879], dtype='int64'),
 57.0: Int64Index([626, 772], dtype='int64'),
 58.0: Int64Index([11, 195, 268, 487, 659], dtype='int64'),
 59.0: Int64Index([94, 232], dtype='int64'),
 60.0: Int64Index([366, 587, 684, 694], dtype='int64'),
 61.0: Int64Index([170, 326, 625], dtype='int64'),
 62.0: Int64Index([252, 555, 570, 829], dtype='int64'),
 63.0: Int64Index([275, 483], dtype='int64'),
 64.0: Int64Index([438, 545], dtype='int64'),
 65.0: Int64Index([54, 280, 456], dtype='int64'),
 66.0: Int64Index([33], dtype='int64'),
 70.0: Int64Index([672, 745], dtype='int64'),
 70.5: Int64Index([116], dtype='int64'),
 71.0: Int64Index([96, 493], dtype='int64'),
 74.0: Int64Index([851], dtype='int64'),
 80.0: Int64Index([630], dtype='int64')}

In [21]:
import math
def age_category(age):
    if math.isnan(age):
        return -1
    return math.floor(age/10)*10 
age_category(28.0)

20

In [22]:
train_data.set_index('Age').groupby(age_category).mean()['Survived']

-1     0.293785
 0     0.612903
 10    0.401961
 20    0.350000
 30    0.437126
 40    0.382022
 50    0.416667
 60    0.315789
 70    0.000000
 80    1.000000
Name: Survived, dtype: float64

1. 20대이면서 1등석에 탄사람을 조회하세요.

2. train_data의 Age컬럼에 * 2 한 값을 가진 Age_double 컬럼을 추가하세요.

3. 2에서 생성한 Age_double 컬럼을 삭제하고, Age 다음에 다시 추가해 주세요.

4. 결측치를 확인해보세요.

5.'Age', 'Cabin' 컬럼에 결측치가 있다면, 결측치가 존해하는 행을 모두 삭제해 주세요.

6. Age 컬럼의 결측치를 사망자는 사망자의 평균나이, 생존자는 생존자의 평균 나이로 대체하세요.